.method {
    transition: 0.5s
}

.method:hover {
    background-color: blueviolet !important;
}
.channel_select {
    background-color: blueviolet !important;
}

.no_select {
    user-select: none;
}

body {
    color: grey;
}

.shadow-lg {
    box-shadow: none !important
}
@media (min-width: 768px) {
    .shadow-lg {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important
    }
    .channel {
        transition: 0.5s
    }
    
    .channel:hover {
        box-shadow: 0 0.125rem 0.25rem #556ee6 !important;
    }
    
}